.search-button {
  transition: width 0.25s ease-in-out;
  overflow: hidden;
  width: 90px;
}

.search-button:hover {
  width: 150px;
}

.button-icon {
  display: none;
}

.search-button:hover .button-icon {
  display: inline-block;
  margin-left: 18px;
}

.hover-shadow {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0 8px 16px rgba(255, 0, 0, 0.5);
}
