/* App.css */

html,
body {
  height: 100%;
  margin: 0; /* Ensure there's no margin around the body */
}

.header {
  height: 80px; /* Adjust based on your header's content */
  width: 100%;
}

.body-content {
  height: calc(100vh - 80px); /* Adjust based on header height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
}
